body {
    font-family: 'Merriweather', serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header h1 {
    font-size: 2em; /* モバイル表示でのサイズを調整 */
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px; /* メニューアイテムの間隔を調整 */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1em; /* モバイル表示でのサイズを調整 */
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffd700;
}

.section {
    padding: 80px 20px 50px; /* 上下の余白を調整 */
    text-align: center;
    background: #fff;
    margin: 40px 0; /* セクション間の余白を調整 */
}

.section h2 {
    font-size: 2em; /* モバイル表示でのサイズを調整 */
    margin-bottom: 20px;
    color: #333;
}

.section p, .section ul {
    font-size: 1em; /* モバイル表示でのサイズを調整 */
    line-height: 1.6;
    color: #666;
}

.section ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
}

.section ul li {
    margin: 10px 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer p {
    font-size: 0.9em; /* フッターテキストのサイズを調整 */
    margin: 0;
}

form input, form textarea {
    width: 90%; /* フォームの入力フィールドの幅を調整 */
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em; /* モバイル表示でのサイズを調整 */
}

form button {
    width: 90%; /* 送信ボタンの幅を調整 */
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 1em; /* モバイル表示でのサイズを調整 */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

@media (min-width: 768px) {
    /* モバイル表示以外の場合のスタイル */
    header h1 {
        font-size: 3em; /* デスクトップ表示でのサイズを調整 */
    }

    nav ul li {
        margin: 0 15px; /* デスクトップ表示でのメニューアイテムの間隔を調整 */
    }

    nav ul li a {
        font-size: 1.2em; /* デスクトップ表示でのサイズを調整 */
    }

    .section {
        padding: 100px 20px 50px; /* デスクトップ表示での上下の余白を調整 */
        margin: 60px 0; /* デスクトップ表示でのセクション間の余白を調整 */
    }

    .section h2 {
        font-size: 2.5em; /* デスクトップ表示でのサイズを調整 */
    }

    .section p, .section ul {
        font-size: 1.1em; /* デスクトップ表示でのサイズを調整 */
    }

    form input, form textarea {
        width: 80%; /* デスクトップ表示でのフォームの入力フィールドの幅を調整 */
    }

    form button {
        width: auto; /* デスクトップ表示での送信ボタンの幅をデフォルトに戻す */
    }
}
